@use "styles/variables" as *;

form {
  background-color: $colorSecondary;
  padding: $padding-xl;
  border-radius: 8px;
  width: 100%;
  box-shadow: $boxShadow;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: $padding-m;
  }

  .form-title {
    text-align: center;
    margin-bottom: $padding-l;
    color: $colorTertiary;
  }

  .filter-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $padding-m;
  }

  .form-group {
    margin-bottom: $padding-m;

    label {
      display: block;
      margin-bottom: $padding-xs;
      font-weight: $font-weight-bolder;
      color: $colorTertiary;
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: $padding-m;
    margin-top: $padding-m;
  }

  button[type="submit"] {
    width: "fit-content";
  }
}

input,
textarea,
select {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: $colorTertiary;
  color: $colorPrimary;
  padding: $padding-s;
  border-radius: $border-radius-s;

  &:focus {
    outline: 2px solid $colorInteractiveActive;
  }
}

.filter-section {
  background-color: $colorSecondary;
  padding: $padding-l;
  border-radius: $border-radius-m;
  margin-bottom: $padding-l;
  box-shadow: $boxShadow;

  h3 {
    color: $colorTertiary;
    margin-bottom: $padding-m;
    font-size: $font-size-l;
    font-weight: $font-weight-bolder;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $colorTertiary inset !important;
}

@media only screen and (max-width: 1000px) {
  form {
    .filter-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $padding-m;
    }
  }
}

@media only screen and (max-width: 700px) {
  form {
    .filter-inputs {
      display: grid;
      grid-template-columns: 1fr;
      gap: $padding-m;
    }
  }
}
