@use "sass:color";
@use "styles/variables" as *;

.chip {
  display: inline-block;
  padding: $padding-xs $padding-s;
  border-radius: $border-radius-m;
  border: 1px solid #000000;
  font-size: $font-size-s;
  font-weight: $font-weight-bolder;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;

  &-positive {
    background-color: $colorPositive;
  }

  &-warning {
    background-color: $colorWarning;
  }

  &-danger {
    background-color: $colorDanger;
  }

  &-neutral {
    background-color: $colorNeutral;
  }

  &-fail {
    background-color: $colorSecondary;
    outline: 2px solid $colorDanger;
  }
}
