// Color palette
$colorPrimary: #394357;
$colorSecondary: #5b768b;
$colorTertiary: #faf4e9;
$colorBackdrop: #000000;
$colorInteractiveInactive: #e8dca8ff;
$colorInteractiveActive: #ffd900;
$colorDanger: #ff6969;
$colorPositive: #28a745;
$colorWarning: #ff9d00;
$colorNeutral: #6191a4;

$boxShadow: 0 4px 8px rgba($colorBackdrop, 0.2);

// Spacing/Padding
$padding-xl: 2rem;
$padding-l: 1.5rem;
$padding-m: 1rem;
$padding-s: 0.75rem;
$padding-xs: 0.5rem;

// border radius
$border-radius-s: 0.25rem;
$border-radius-m: 0.5rem;
$border-radius-l: 1rem;

// Font sizes
$font-size-xxl: 2rem;
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.9rem;

// Font weights
$font-weight-regular: 400;
$font-weight-bolder: 500;
$font-weight-boldest: 700;
