// Color palette
$colorPrimary: #394357;
$colorSecondary: #5B768B;
$colorTertiary: #FAF4E9;
$colorBackdrop: #000000;
$colorInteractiveInactive: #e8dca8ff;
$colorInteractiveActive: #FFD900;
$colorDanger: #FF4A39;
$colorPositive: #28A745;
$colorWarning: #ff9d00;

// Spacing/Padding
$padding-xl: 2rem;
$padding-l: 1.5rem;
$padding-m: 1rem;
$padding-s: 0.75rem;
$padding-xs: 0.5rem;

// border radius
$border-radius-s: .25rem;  
$border-radius-m: .5rem;
$border-radius-l: 1rem;

// Font sizes
$font-size-xxl: 2rem;
$font-size-xl: 1.5rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.9rem;

// Font weights
$font-weight-regular: 400;
$font-weight-bolder: 500;
$font-weight-boldest: 700;
