<div class="discussion-list">
  @if (loading) {
    <app-loading-spinner></app-loading-spinner>
  }

  @if (!loading && discussions.length > 0) {
    <div class="grid-table">
      <div class="grid-header">
        <div class="grid-cell start-cell">Created</div>
        <div class="grid-cell start-cell">Last Message</div>
        <div class="grid-cell start-cell">Messages</div>
        <div class="grid-cell center-cell">Reported</div>
        <div class="grid-cell start-cell">Related Announce</div>
        <div class="grid-cell start-cell">Author</div>
        <div class="grid-cell start-cell">Responder</div>
        <div class="grid-cell start-cell">Actions</div>
      </div>
      @for (discussion of discussions; track discussion.discussionId) {
        <div class="grid-row">
          <div class="grid-cell date-cell start-cell">
            <span class="text-truncate">
              {{ formatDate(discussion.createdAt) }}
            </span>
          </div>
          <div class="grid-cell date-cell start-cell">
            <span class="text-truncate">
              {{ formatDate(discussion.lastMessageDate) }}
            </span>
          </div>
          <div class="grid-cell center-cell">
            <span class="text-truncate">
              {{ discussion.messageCount }}
            </span>
          </div>
          <div class="grid-cell center-cell">
            @if (discussion.hasReportedMessage) {
              <app-chip label="Yes" type="danger"></app-chip>
            }
          </div>
          <div class="grid-cell title-cell start-cell">
            <app-link-label
              [link]="['/announces', discussion.announceId]"
              [label]="discussion.announceTitle"
            />
          </div>
          <div class="grid-cell name-cell start-cell">
            <app-link-label
              [link]="['/users', discussion.announceAuthor.displayName]"
              [label]="discussion.announceAuthor.displayName"
            />
          </div>
          <div class="grid-cell name-cell start-cell">
            <app-link-label
              [link]="['/users', discussion.announceResponder.displayName]"
              [label]="discussion.announceResponder.displayName"
            />
          </div>
          <div class="grid-cell start-cell">
            <app-router-button
              label="View"
              [path]="['/discussions', discussion.discussionId]"
              type="action"
              size="small"
            >
            </app-router-button>
          </div>
        </div>
      }
    </div>
  }

  @if (!loading && discussions.length === 0) {
    <div class="empty-state">No discussions found.</div>
  }
</div>
